html {
  height: 100%;
}

.body {
  background: url(https://images.unsplash.com/photo-1508353140085-93af0d08ff12?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f1814b21a26bbf7c534321796cfe53e7&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed;
  height: 100%;
}

.img {
  display: flex;
  margin: 20px, 20px, 20px, 20px;
  justify-content: center;
}
.img img {
  height: 150%;
  width: 150%;
}

.topline {
  display: flex;
  justify-content: flex-end;
}

.test {
  transform: translateX(-50%);
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  margin-left: 50%;
  overflow: hidden;
  color: white;
  width: 20em;
  font-size: 80px;
  font-family: 'Oxygen', sans-serif;
  animation: type 4s steps(60, end);
}

.test:nth-child(2){
  animation: type2 3s steps(60, end);
}

.test span{
  animation: blink 1s infinite;
}


@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 50;}
  100%{width: 100;}
}

@keyframes blink{
  to{opacity: .0;}
}
/* .line-1{
    height: 60%;
    align-items: center;
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 365%;
    font-weight: 50;
    text-align: center;
    justify-content: center;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    font-family: 'Oxygen', sans-serif;
    display: flex-end;
    align-items: center;

}

/* Animation */
/* .anim-typewriter{
  animation: typewriter 4s steps(64) 1s 1 normal both,
             blinkTextCursor 700ms steps(40) infinite normal;
  display: flex-end;
  align-items: center;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
  display: flex-end;
  align-items: center;
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
  display: flex-end;
  align-items: center;
} */

 /* */

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a, button {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: none;
  /* border-radius: 15px; */
  /* margin: 5px; */
  text-decoration: none;
  padding: 10px;
  /* border: 2px solid black; */
}

button {
  cursor: pointer;
}

.translate {
  display: flex;
  align-items: center;
}

.search_bar {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: 'Oxygen', sans-serif;
  /* top: 355%; */
  /* left: 500%; */
  justify-content: center;
  color: #ffffff
}

input {
  background-image: url('https://www.naturalnavigator.com/_client/themes/default/images/icon-search.png');
  background-size: 70px;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: right;
  width: 80%;
  height: 60px;
  background-color: transparent;
  color: #ffffff;
  top: 50%;
  font-family: 'Oxygen', sans-serif;
  left: 50%;
  font-size: 200%;
  border-style: solid;
}

::placeholder {
  color: #ffffff;
}

h1{
  align-items: center;
  justify-content: center;
  font-family: 'Oxygen', sans-serif;
  color: white;
  text-shadow: 1px 1px;
}
