html {
  height: 100%;
}

.body {
  background: url(https://images.unsplash.com/photo-1508353140085-93af0d08ff12?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f1814b21a26bbf7c534321796cfe53e7&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed;
  height: 100%;
}

.img {
  display: flex;
  margin: 20px, 20px, 20px, 20px;
  justify-content: center;
}
.img img {
  height: 150%;
  width: 150%;
}

.topline {
  display: grid;
  grid-template-columns: 50% 50%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a, button {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: none;
  /* border-radius: 15px; */
  /* margin: 5px; */
  text-decoration: none;
  padding: 10px;
  /* border: 2px solid black; */
}

button {
  cursor: pointer;
}

.translate {
  display: flex;
  align-items: center;
}

.search_bar {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: 'Oxygen', sans-serif;
  /* top: 355%; */
  /* left: 500%; */
  justify-content: center;
  color: #ffffff
}

input {
  background-image: url('https://www.naturalnavigator.com/_client/themes/default/images/icon-search.png');
  background-size: 70px;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: right;
  width: 80%;
  height: 60px;
  background-color: transparent;
  color: #ffffff;
  top: 50%;
  font-family: 'Oxygen', sans-serif;
  left: 50%;
  font-size: 200%;
  border-style: solid;
}

::placeholder {
  color: #ffffff;
}
