

.top {
    opacity: 0.80;
    position: top;
    height: 400px;
    background-color: #F2E2CD;
    margin-left: 225px;
    margin-right: 225px;
    margin-top: 50px;
    border-style: solid;
    border-width: 5px;
}
#avatar {
  display: flex;
  justify-content: center;
}

.bottom {
    opacity: 0.80;
    position: bottom;
    height: 400px;
    background-color: white;
    margin-left: 225px;
    margin-right: 225px;
    border-style: solid;
    border-width: 5px;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

label {
    margin-top: 1rem;
    display: block;
    font-size: .8rem;
}

.msg{
  margin-left: 375px;
  margin-right: 375px;
  margin-top: 1rem;
  display: block;
}


nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

a, button {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: none;
  /* border-radius: 15px; */
  /* margin: 5px; */
  text-decoration: none;
  padding: 10px;
  /* border: 2px solid black; */
}

h1{

  text-shadow: 1px 1px #000000;


}

h4{
  color: black;
  font-size: .8rem;
}

img{
  border-radius: 50%;
}
