<<<<<<< HEAD

.top {
    position: top;
    height: 400px;
    background-color: #F2E2CD;
    margin-left: 225px;
    margin-right: 225px;
    margin-top: 50px;
    border-style: solid;
    border-width: 5px;


}
.bottom {
    position: bottom;
    height: 400px;
    background-color: white;
    margin-left: 225px;
    margin-right: 225px;
    border-style: solid;
    border-width: 5px;
=======
body {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 10% 40% 40% 10%;
>>>>>>> 57bb830a38e6044012cf235ce7e781abdc9a2ab8
}
