html {
  height: 100%;
}
body {
  background-color: #F2e2cd;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1519922639192-e73293ca430e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c4d0cc6854cacf72c0744838a6da36d0&auto=format&fit=crop&w=1652&q=80") no-repeat center center fixed;
}

.img {
  display: flex;
  justify-content: center;
  z-index: -1;
}

.img img {
  height: 150%;
  width: 150%;
  z-index: -1;
  position: absolute;



}

.topline {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

nav {
  color: white;
}

nav a{
  font-family: 'Oxygen', sans-serif;
  color: white;
  text-decoration: none;
}

.left_nav {
  font-size: 20px;
  background-color: transparent;
  border: none;
  /* border-radius: 15px; */
  /* margin: 5px; */
  /* border: 2px solid black; */
}

.search_bar {
  height: auto;
  display: flex;
  /* align-items: center; */
  /* top: 355%; */
  /* left: 500%; */
  justify-content: center;
  color: #ffffff
}

input {
  background-image: url('https://www.naturalnavigator.com/_client/themes/default/images/icon-search.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: right;
  width: 80%;
  height: 60px;
  background-color: transparent;
  color: #ffffff;
  top: 50%;
  left: 50%;
  font-size: 200%;
  border-style: solid;
  border-color: white;
}

::placeholder {
  color: #ffffff;
}

.right_nav {
  font-size: 20px;
  background-color: transparent;
  border: none;
  /* border-radius: 15px; */
  /* margin: 5px; */
  /* border: 2px solid black; */
  display: flex;
  justify-content: flex-end;
}

.right_nav a {
  padding: 10px;
}

h2{
  color: white;
  font-family: 'Oxygen', sans-serif;
  text-shadow: .75px .75px black;
}
.column{
  float: left;
  width: 25%;
  opacity: 0.75;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  padding: 25px;
  background-color: #F2E2CD;
  height: 200px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

button{
  background-color: Black;
  color: white;
}

img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
