<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Autorize</title>
  </head>
  <body background = "https://images.unsplash.com/photo-1431608660976-4fe5bcc2112c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dc487b858f2b599631a0a6cdea4f629c&auto=format&fit=crop&w=1350&q=80">
    <center>
    <font color="white">
    <h1>
      <p> Logged in user: {{individual}} </p>
      <a href = "{{log_url}}"> {{log_message}} </a>
    </h1>
    </font>
   </center>
  </body>
</html>
