<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Account</title>
  </head>
  <body>
    <form action="index.html" method="post"> <!-- Change action -->
      <input type="text" name="" value="">
      <p>Your home location:</p>
      <input name="city" placeholder="City">
      <input name="country" placeholder="Country"><br>

      <p>Availability of time to spend with friend:</p>
      <input type="radio" name="availability" value="high">High<br>
      <input type="radio" name="availability" value="medium">Medium<br>
      <input type="radio" name="availability" value="low">Low<br>

      <p>How long would you like to welcome someone?</p>
      <input type="checkbox" name="timespan" value="short">Short Term (less than two weeks)<br>
      <input type="checkbox" name="timespan" value="mid">Mid Term (less than three months)<br>
      <input type="checkbox" name="timespan" value="long">Long Term (staying for a while)<br>

      <button name="button">Create Account</button>
    </form>
  </body>
</html>
