<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="563867589788-gdhhpp9mdj73cp7lpkg8k3tvmop54rjo.apps.googleusercontent.com"> -->
    <meta charset="utf-8">
    <title> Home </title>
  </head>
  <body background = "https://images.unsplash.com/photo-1529022805552-1c88a713c1c5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e1a9eb003e13932bd4d9af607ae8101d&auto=format&fit=crop&w=925&q=80 " >
  <center>
    <h1> <font color="white"> HOME </font> </h1>
    <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
  </center>
  </body>

</html>
