<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Home </title>
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
  </head>
  <body class="body">
    <div class="topline">
      <div class="translate">
        <button type="button" name="Translate">Translate</button>
      </div>
      <h1> <font color="white"> HOME </font> </h1>
      <nav>
        <a href="/authorize">Log In</a>
        <a href="/createaccount">Sign Up</a>
      </nav>
    </div>
  <!--  <div class="img">
      <img src="../images/small_group.jpg" alt="people talking happily">
    </div> this is the old image -->

  </body>

</html>
