<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Home </title>
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  </head>
  <body class="body">
    <div class="topline">
      <nav>
        <a href="{{log_url}}">{{log_message}}</a>
        {% if not individual %}
        <a href="{{sign_up_url}}">Sign Up</a>
        {% endif %}
        {% if individual %}
        <a href="/profiles"> Profile </a>
        {% endif %}
      </nav>
    </div>
    <h1> Divercity </h1> 
    <form class="search_bar" method="post">

      <input type = "text" name="search" placeholder="  Try &quot;Italy&quot"/>
    </form>

  <!--  <div class="img">
      <img src="../images/small_group.jpg" alt="people talking happily">
    </div> this is the old image -->

  </body>

</html>
