<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../stylesheets/profiles.css">
  </head>
  <font color = "white">
  <body background = "https://images.unsplash.com/photo-1502866088342-cc132593eea7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=49c7c249b18c19c8e424f53d082ecc27&auto=format&fit=crop&w=1950&q=80">
  <center> <h1 class = header> {{email}} {{city}} </h1> </center>

    <center> <div class =top>
    {{time_span}} </div> </center>
    <div class =bottom> Bottom HAS Images </div>



  </body>
</html>
