<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../stylesheets/profiles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  </head>
  <font color = "white">
  <body background = "https://images.unsplash.com/photo-1532433308301-ddfff1c56afc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a802848fff0d070bcf3f629e7a4b2149&auto=format&fit=crop&w=1650&q=80">
  <center> <h1 class = header>  </h1> </center>
  <center>
    <nav>
      <a href="{{log_url}}">{{log_message}}</a>
      <a href="/"> Search </a>
    </nav>
     <div class =top>
       <h1> <i class="material-icons">face</i> {{name}}</h1>

      <fieldset>
          <legend>Profile</legend>
          <div>
              <label for="avatar">Profile picture:</label>
              <img src = "data:image/jpg;base64,{{avatar}}" width = 100px height= 80px>
              <form method = "post" enctype="multipart/form-data">
              <div class="">
                <input type="file"
                       id="avatar" name="avatar"
                       accept="image/png, image/jpeg"/>
              </div>

              <!-- <br> -->
              <button> Submit </button>
              </form>
          </div>
      </fieldset>
    </font>

      <h2>
       <div class = criticalinfo>
          {{city}},
          {{country}}
      </div>
      <div class = criticalinfo>
          Time Span: {{time_span}} </br>
          Interest: {{availability}}/100
      </div>
         <!-- <div class = message> SEND MESSAGE  <i class="material-icons">message</i>
           {{denied}}
       </div> -->
     </div>
    </h2>
    </div>
  </center>


    <div class=bottom color = black>
      <fieldset>
          <legend>Your Story <i class="material-icons">language</i></legend>
          <div>
              <label for="journey">Share Your Journey:</label>
              {%for journey in journies%}
              <img src = "data:image/jpg;base64,{{journey}}" width = 100px height= 80px>
              {%endfor%}
              <form method = "post" enctype="multipart/form-data">
              <div class="journey">
                <input type="file"
                       id="journey" name="journey"
                       accept="image/png, image/jpeg"/>
              </div>
              <button> <h4> Submit </h4> </button>
              </form>
          </div>
      </fieldset>
    </div>
  </div>


  </body>
</html>
